@import './colors.scss';

.down-bar-container {
    align-items: center;
    background-color: $background-color;
    border-top: 1px white solid;
    color: $icon-color;
    display: flex;
    height: 6vh;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.selected .icons{
    color: $icon-color;
    transition: color 1s ease;
}

.selected.active-link .icons {
    color: $primary-color; /* Cambia el color cuando el enlace está activo */
  }

  @media only screen and (min-width: 768px) {
    .down-bar-container {
        display: none;
    }

}
