@import './colors.scss';

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  text-align: center;
  padding: 20px;
  background-color: #141414;
  border: 1px white solid;
  border-radius: 10px;
}

.login-form label {
  display: block;
  color: $icon-color;
  margin-bottom: 8px;
}

.login-form input {
  width: 90%;
  padding: 8px;
  background-color: #141414;
  border: 1px white solid;
  color: $icon-color;
  margin-bottom: 16px;
}

.login-form button {
  border-radius: 10px;
  color: $icon-color;
  background-color: $primary-color;
  border: 1em $primary-color solid;
}

.login-title{
  font-size: 2em;
  color: $icon-color;
  margin-top: 1px;
}

.login-icon {
  color: $primary-color;
  font-size: 10em;
}

/*VERSIÓN DE DESKTOP*/
@media only screen and (min-width: 768px) {
  .login-form {
    padding: 40px; /* Aumenta el espacio interno del formulario */
    margin-bottom: 2em;
  }

  .login-form label {
    margin-bottom: 12px; /* Ajusta el margen inferior de las etiquetas */
    font-size: 1.5em;
  }

  .login-form input {
    width: 90%; /* Reduzca la anchura del campo de entrada */
    padding: 10px; /* Aumenta el relleno del campo de entrada */
    margin-bottom: 20px; /* Ajusta el margen inferior del campo de entrada */
  }

  .login-form button {
    font-size: 1em; /* Aumenta el tamaño de fuente del botón */
  }

  .login-icon {
    font-size: 10em; /* Aumenta el tamaño del ícono */
  }

  .login-title{
    font-size: 3em;
  }
}
