@import './colors.scss';

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  text-align: center;
  padding: 20px;
  background-color: $background-color;
  border: 1px white solid;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.signup-form label {
  display: block;
  color: $icon-color;
  margin-bottom: 8px;
}

.signup-form input {
  width: 90%;
  padding: 8px;
  background-color: $background-color;
  border: 1px white solid;
  color: $icon-color;
  margin-bottom: 16px;
}

.add-pfp-button {
  border-radius: 10px;
  color: $icon-color;
  background-color: $primary-color;
  border: 1em $primary-color solid;
}

.signup-form button {
  border-radius: 10px;
  color: $icon-color;
  background-color: $primary-color;
  border: 1em $primary-color solid;
}

.signup-icon {
  margin-top: 2em;
  margin-bottom: 10px;
  color: $primary-color;
  font-size: 10em;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.profile-picture-image img{
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.pfp-icon {
  font-size: 1.5em;
  padding: 0.5em;
  background-color: $primary-color;
  color: $icon-color;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-radius: 50%;
}

.signup-title {
  font-size: 2em;
  color: $icon-color;
  margin: 0;

}

/*VERSIÓN DE DESKTOP*/
@media only screen and (min-width: 768px) {
  .signup-form {
    padding: 40px;
  }

  .signup-form label {
    margin-bottom: 12px;
    font-size: 1.5em;
  }

  .signup-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .signup-form img {
    width: 10vw;
  }

  .signup-form button {
    font-size: 1em;
  }

  .signup-icon {
    font-size: 10em;
  }

  .signup-title {
    font-size: 3em;
  }
}
